html, body {
  height: 100vh;
  margin: 0;
font-family: "RB";
}

#wrapper
{
 background-image:   linear-gradient(
    rgba(0, 0, 0, 0.782), 
    rgba(0, 0, 0,0.782) ),
     url('./Assets/mainBG.png');
     background-size:100% 100%;
position:absolute;
top:0;
bottom:10%;
right:0;
left:0;
overflow-x: hidden;
}

.pageSliderUp-enter {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.pageSliderUp-enter.pageSliderUp-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 1000ms ease-in 1000ms,transform 1000ms ease-in-out 1000ms;
}

.pageSliderUp-exit {
  opacity: 1;
}
.pageSliderUp-exit.pageSliderUp-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in ;
}
