@import-normalize;

@font-face {
  font-family: "RB";
  src: local("RB"),
    url("./fonts/RB_Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "RB";
  src: local("RB"),
    url("./fonts/RB_Regular.ttf") format("truetype");
  font-weight:normal;
}
@font-face {
  font-family: "RB";
  src: local("RB"),
    url("./fonts/RB_Light.ttf") format("truetype");
  font-weight: lighter;
}